@import url(./normalize.css);
@import url(./blocks/fonts/fonts.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: hsl(340, 9%, 40%);
  -webkit-user-select: none;
  user-select: none;
}

/* :root {
  --first_dueto_color: #1e90ff;
  --second_dueto_color: #ffffff;
} */

.header {
  justify-items: center;
}

.header__nav_games {
  display: flex;
  background-color: black;
  padding: 20px 20px;
  width: 100%;
  transform: translateY(-100%);

  /* Transição suave para o movimento */
  transition: transform 0.5s ease-in-out;
  z-index: 999;
}

.header__nav_games.open {
  transform: translateY(0);
}

.header__nav_game {
  border: none;
  background-color: transparent;
  color: white;
  padding-left: 25px;
  font-size: 22px;
}

.header__info {
  align-self: flex-end;
  margin-left: auto;
  max-width: 46px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.header__info_image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: fill;
}

.header__nav_menus {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
  padding: 15px 0;
  transform: translateY(-100%);

  /* Transição suave para o movimento */
  transition: transform 0.5s ease-in-out;
  z-index: 999;
}

.header__nav_menus.open {
  transform: translateY(0);
}

.header_nav_manu {
  max-width: 31.56px;
  width: 100%;
  max-height: 31.56px;
  height: 100%;
  background-color: transparent;
  border: 2px solid hsl(320, 6%, 70%);
  border-radius: 7px;
}

.header__nav_menu_left-side {
  display: flex;
  margin-right: 0;
  gap: 3px;
}

.header__nav_menu_right-side {
  display: flex;
  margin-left: 0;
  gap: 3px;
}

.header__hide {
  transition: transform 0.5s ease-in-out;
}

.header__hide.rotate {
  transform: rotate(180deg);
}

.header__question_mark {
  color: hsl(320, 6%, 70%);
}

.header__images {
  width: 100%;
  background-color: transparent;
  object-fit: cover;
  height: stretch;
}

.header__h1 {
  justify-self: center;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  justify-content: flex-start;
  align-items: center;
}

.main__grid {
  max-width: 404.25px;
  width: 100%;
  max-height: 486.05px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.8px;
  user-select: none;
}

.main__grid:has(.main__grid_dueto_1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 808.5px;
  max-height: 500px;
  gap: 100px;
}

.main__grid_dueto_1 {
  max-width: 404.25px;
  width: 100%;
  max-height: 486.05px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.8px;
  user-select: none;
}

.main__grid_dueto_2 {
  max-width: 404.25px;
  width: 100%;
  max-height: 486.05px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.8px;
  user-select: none;
}

.grid__row {
  max-height: 77px;
  height: 100%;
  display: flex;
  gap: 4.8px;
}

.shake {
  animation: shake 0.6s;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-15px);
  }
  20% {
    transform: translateX(15px);
  }
  30% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(8px);
  }
  70% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(3px);
  }
  90% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.grid_letter {
  max-width: 77px;
  width: 100%;
  max-height: 77px;
  height: 100%;
  border: 1px solid black;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 5px;
  background-color: hsl(342, 7%, 35%);
  border: none;
  transition: transform 0.5s ease-in-out;
}

.grid_letter.letter__transition {
  rotate: y 360deg;
  border: none;
}

.grid__row_active * {
  display: inline-block;
  border: 5px solid hsl(333, 6%, 28%);
  background-color: hsl(340, 9%, 40%);
}

.grid__letter_active {
  border-bottom: 9px solid hsl(333, 6%, 28%);
}

.grid__letter-color_black {
  background-color: hsl(343, 8%, 18%);
  animation: mymove 1s normal;
  /* animation: 0.45s linear flip 0s forwards; */
}

.grid__letter-color_yellow {
  background-color: hsl(38, 55%, 62%);
  animation: mymove 1s normal;
}

.grid__letter-color_green {
  background-color: hsl(171, 47%, 43%);
  animation: mymove 1s normal;
}

@keyframes mymove {
  0% {
    rotate: y 90deg;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 230px;
  height: 100%;
  max-width: 645px;
  width: 100%;
  gap: 5px;
  user-select: none;
}

.keyboard__1_row {
  display: flex;
  max-height: 68px;
  height: 100%;
  gap: 5px;
}

.keyboard__2_row {
  display: flex;
  max-height: 68px;
  height: 100%;
  gap: 5px;
  margin-left: 20px;
}

.keyboard__3_row {
  display: flex;
  max-height: 68px;
  height: 100%;
  gap: 5px;
  margin-left: 40px;
}

.kbd__letter {
  max-width: 58px;
  width: 100%;
  max-height: 68px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  align-content: center;
  padding: 0 12px;
  background-color: hsl(333, 6%, 28%);
  border: none;
  border-radius: 5px;
  color: white;
}

.kbd__enter {
  max-width: fit-content;
}

.kbd__color_gray {
  background-color: hsl(343, 9%, 32%);
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.kbd__color_yellow {
  background-color: hsl(38, 55%, 62%);
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.kbd__color_green {
  background-color: hsl(171, 47%, 43%);
  opacity: 0; /* Ensures the initial state is transparent before animation starts */
  animation-name: fadeIn;
  animation-duration: 0.4s; /* How long the animation takes */
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Ensures the final state (opacity: 1) persists after animation */
}

.kbd__color_dueto {
  background: linear-gradient(
    to right,
    var(--first_dueto_color) 50%,
    var(--second_dueto_color) 50%
  );
  opacity: 0; /* Ensures the initial state is transparent before animation starts */
  animation-name: fadeIn;
  animation-duration: 0.4s; /* How long the animation takes */
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Ensures the final state (opacity: 1) persists after animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
